.App {
  text-align: center;
}

.body {
  position: relative !important;
  top: 100px !important;
}

.description {
  text-align: left;
}

.buy {
  background-color: rgb(25, 97, 253);
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.productCard {
  display: flex;
  flex-wrap: wrap;
  padding: 25px;
  justify-content: space-around;
}

.pic {
  height: 150px;
  width: 195px;
}

.table {
  margin: 10px;
}

.table-column {
  padding: 10px;
}

.item {
  padding: 5px;
  list-style: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form {
  margin: 70px;
  margin-bottom: 20px;
  margin-top: 40px;
  max-width: 80%;
  padding: 80px;
  padding-top: 0%;
  background-color: rgb(202, 221, 250);
  display: inline-block;
  justify-content: center;
}

.footer {
  position: relative;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.home {
  position: relative;
}

.banner {
  width: 100%;
  height: 400px;
  position: relative;
}



.button {
  background-color: rgb(54, 100, 185);
  margin: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}



.register:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.description {
  position: static;
}
